/* app css stylesheet */

body {
  background: #F1F1F1;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.bar {
    height: 18px;
    background: green;
}

#uploadButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  display: block;
}

#video {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  display: block;
}

#progressBar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 60%;
}

.hidden {
  visibility: hidden;
}

.title-text {
  text-align: center;
}

.subtitle-text {
  text-align: center;
  font-size: 12px;
  font-family: cursive;
}
